.fields {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: none;
  margin: auto;
}

.fields fieldset {
  display: flex;
  border: none;
}

.error {
  color: red;
  font-size: .8em;
}
